@import url("https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap");

// body {
//   background-color: #f5f5f5;
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items: center;
//   min-height: 100vh;
//   margin: 0 auto;
// }

/* Typefaces */

// h1 {
//incorporated into `op1Label`
//   font-family: "Roboto";
//   font-weight: normal;
//   font-size: 28px;
//   margin: auto;
// }

.op1Label {
  font-family: "Roboto";
  font-weight: normal;
  font-size: 28px;
  margin: auto;

  display: flex;
  text-align: left;
  width: 60px;
  height: 33px;
  line-height: 33px;
  font-weight: 300;
  color: rgba(67, 75, 95, 0.7);
  transform: rotate(-90deg);
  grid-row: 5;
  margin: 0px;
}

.p {
  font-family: "Roboto";
  font-weight: normal;
  font-size: 12px;
  margin: auto;

  color: rgba(67, 75, 95, 0.7);
}

.condensed10px {
  @extend .p;
  font-family: "Roboto Condensed";
  font-size: 10px;
}

.condensed12px {
  @extend .p;
  font-family: "Roboto Condensed";
  font-size: 12px;
  letter-spacing: 0.04em;
  height: 14px;
}

.normal10px {
  @extend .p;
  font-size: 10px;
}

.normal12px {
  @extend .p;
  font-size: 12px;
}

.normal18px {
  @extend .p;
  font-size: 18px;
}

.light32px {
  @extend .p;
  font-size: 32px;
  font-weight: 300;
}

.green {
  color: #05bf37;
}

.orange {
  color: #ff5932;
}

.twoLineText {
  align-items: center;
  justify-content: center;
}

/* Container and background */

.op1ContainerLayer1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 1256px;
  max-width: 1256px;
  height: 452px;

  background: linear-gradient(107.83deg, #dedfe4 1.91%, #cacdd4 97.76%);
  box-sizing: border-box;
  box-shadow: inset 2px 2px 4px rgba(255, 255, 255, 0.8);
  border-radius: 20px;
}

.op1ContainerLayer2 {
  display: flex;
  /* flex-direction: column; */
  justify-content: flex-start;
  align-items: center;
  min-width: 1256px;
  max-width: 1256px;
  height: 454px;

  background: linear-gradient(
    179.56deg,
    rgba(223, 224, 233, 0.5) 4.52%,
    rgba(205, 210, 220, 0.5) 96.3%
  );
  border: 2px solid #c4c4c2;
  box-sizing: border-box;
  box-shadow: inset 2px 2px 4px rgba(255, 255, 255, 0.8);
  border-radius: 20px;
}

.innerProfile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 1162px;
  max-width: 1162px;
  height: 416px;
  margin-left: 18px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  box-shadow: inset 2px 2px 2px #d5d5d5;
  border-radius: 8px;
}

.darkBackground {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 1160px;
  max-width: 1160px;
  height: 412px;
  background-color: #0f0e0f;
  border-radius: 6px;
}

/* Upper elements */

.upperPart {
  display: grid;
  grid-template-columns: repeat(8, 132px) 64px;
  grid-template-rows: repeat(1, 132px);
  grid-column-gap: 4px;
  grid-row-gap: 4px;
  margin-bottom: 4px;
}

.speakerBlock {
  position: relative;
  display: flex;
  width: 132px;
  height: 132px;
  align-items: center;
  justify-content: center;
  grid-column: 1;
  grid-row: 1;

  background: #dfe0e9;
  border-radius: 4px;
}

.speaker {
  background-image: url("https://pizzabreakfast.co/project-assets/web-op-1/speaker.svg");
  width: 109px;
  height: 109px;
  background-size: 109px;
}

.buttonGroup1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}

.longButtonBlock {
  position: relative;
  width: 132px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  background: #dfe0e9;
  border-radius: 4px;
}

.volKnob {
  position: relative;
  width: 44px;
  height: 44px;

  background: #fcfbfc;
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-sizing: border-box;
  /* rubber-button */
  box-shadow: 6px 6px 16px #9fa6b3, -6px -6px 16px #e8ebf3;
  border-radius: 100%;
  margin-left: 10px;
}

.knobDot {
  position: relative;
  width: 8px;
  height: 8px;
  left: 11px;
  top: 27px;

  background: #f3f3f3;
  box-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5),
    inset 1px 1px 1px rgba(209, 205, 199, 0.5);
  border-radius: 100%;
}

/* OP-1 screen */

.opScreen {
  position: relative;
  width: 268px;
  height: 132px;

  background-color: #0f0e0f;
  border-radius: 4px;
  grid-column: 3 / 4;
}

.tapeRolls {
  position: absolute;
  top: 22.5px;
  left: 45px;
  min-width: 176px;
  max-width: 176px;
  min-height: 60px;
  max-height: 60px;
  display: grid;
  grid-template-columns: 60px 60px;
  grid-template-rows: 60px;
  grid-gap: 56px;
}

.roll1 {
  transform: rotate(320deg);
}

.rotateCenter {
  -webkit-animation: rotate-center 5s linear infinite;
  animation: rotate-center 5s linear infinite;
}

@-webkit-keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.gloss {
  position: absolute;
  top: 0;
  left: 0;
}

/* Encoder section */

.knobs {
  display: flex;
  grid-column: 5 / 9;
  justify-content: space-between;
}

.knobBlock {
  position: relative;
  width: 132px;
  height: 132px;
  display: flex;
  align-items: center;
  justify-content: center;

  background: #dfe0e9;
  border-radius: 4px;
}

.outerKnob {
  position: relative;
  background-image: url("https://user-images.githubusercontent.com/11149530/71559596-96038580-2a68-11ea-8e32-8d0d6dc0e95f.png");
  width: 79px;
  height: 79px;
  background-size: 79px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.knob {
  position: relative;
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;
  border-radius: 100%;
}

.imprint {
  position: relative;
  width: 32px;
  height: 9px;
  border-radius: 4px;
}

.knobBlue {
  @extend .knob;
  background: #5fbaf2;
  border: 2px solid #8bd0f9;
  /* rubber-button */
  box-shadow: 6px 6px 16px #9fa6b3, -6px -6px 16px #e8ebf3;
}

.imprintBlue {
  position: relative;
  width: 32px;
  height: 9px;

  background: #5bb3ee;
  box-shadow: 1px 1px 2px #89d9ff, inset 1px 1px 1px #0292d4;
  border-radius: 4px;
  transform: rotate(-45deg);
}

.knobGreen {
  @extend .knob;

  background: #00cd73;
  border: 2px solid #00f1ab;
  /* rubber-button */
  box-shadow: 6px 6px 16px #9fa6b3, -6px -6px 16px #e8ebf3;
}

.imprintGreen {
  @extend .imprint;
  background: #00cf77;
  box-shadow: 1px 1px 2px rgba(0, 241, 171, 0.75),
    -1px -1px 1px rgba(0, 241, 171, 0.5), inset 2px 2px 4px #00b34d,
    inset -2px -2px 4px #00bf66;
}

.knobWhite {
  @extend .knob;
  background: #fcfbfc;
  border: 1px solid rgba(255, 255, 255, 0.2);
  /* rubber-button */
  box-shadow: 6px 6px 16px #9fa6b3, -6px -6px 16px #e8ebf3;
}

.imprintWhite {
  @extend .imprint;
  background: #f3f3f3;
  /* plastic-button-inner */
  box-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5),
    inset 1px 1px 1px rgba(209, 205, 199, 0.5);
  transform: rotate(45deg);
}

.knobOrange {
  @extend .knob;
  background: #ff6d27;
  border: 2px solid #ffa361;
  /* rubber-button */
  box-shadow: 6px 6px 16px #9fa6b3, -6px -6px 16px #e8ebf3;
}

.imprintOrange {
  @extend .imprint;
  background: #ff6e2b;
  box-shadow: 1px 1px 2px #ffaa70, inset 1px 1px 2px #f74b26,
    inset -1px -1px 1px #ff6423;
  transform: rotate(-90deg);
}

.topRight {
  display: flex;
  flex-direction: column;
  grid-column: 9;
  justify-content: space-between;
}

.transportsControlsKeyboard {
  display: flex;
  flex-direction: row;
}

.transports {
  width: 204px;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 64px);
  grid-template-rows: repeat(4, 64px);
  grid-column-gap: 4px;
  grid-row-gap: 4px;
}

.controlsKeyboard {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
}

.controls {
  display: grid;
  grid-template-columns: repeat(14, 64px);
  grid-template-rows: 64px;
  grid-column-gap: 4px;
  grid-row-gap: 4px;
  padding-bottom: 2px;
  margin-bottom: 2px;
}

.keyboard {
  display: grid;
  grid-template-columns: 268px 200px 268px 200px;
  grid-template-rows: 64px 132px;
  grid-column-gap: 4px;
  grid-row-gap: 4px;
}

.blackKeys {
  display: flex;
  justify-content: space-between;
  align-content: space-between;
}

.blackKeys1 {
  @extend .blackKeys;
  grid-column: 1;
}

.blackKeys2 {
  @extend .blackKeys;
  grid-column: 2;
}

.blackKeys3 {
  @extend .blackKeys;
  display: flex;
  justify-content: space-between;
  grid-column: 3;
}

.blackKeys4 {
  @extend .blackKeys;
  display: flex;
  justify-content: space-between;
  grid-column: 4;
}

.whiteKeys {
  display: flex;
  justify-content: space-between;
  grid-row: 2;
}

.whiteKeys1 {
  @extend .whiteKeys;
  grid-column: 1;
}

.whiteKeys2 {
  @extend .whiteKeys;
  grid-column: 2;
}

.whiteKeys3 {
  @extend .whiteKeys;
  grid-column: 3;
}

.whiteKeys4 {
  @extend .whiteKeys;
  grid-column: 4;
}

.buttonBlock {
  width: 64px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;

  background: #d1d7e0;
  border-radius: 4px;
}

.button {
  position: relative;
  width: 44px;
  height: 44px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  background: #d8dbe3;
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-sizing: border-box;
  /* rubber-button */
  box-shadow: 6px 6px 16px #9fa6b3, -6px -6px 16px #e8ebf3;
  border-radius: 100%;
}

.buttonsTwoElements {
  display: grid;
  grid-template-columns: 24px;
  grid-template-rows: 18px 18px;
  justify-content: center;
  align-items: center;
}

.blackKeyBlockShort {
  width: 64px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;

  background: #dfe0e9;
  border-radius: 4px;
}

.blackKeyBlockLong {
  width: 98px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;

  background: #dfe0e9;
  border-radius: 4px;
}

.blackKey {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 100%;

  background: #101010;
  border: 2px solid #e5e4eb;
  /* rubber-button */
  box-shadow: 6px 6px 16px #9fa6b3, -6px -6px 16px #e8ebf3;
}

.blackKeyLeft {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 100%;

  background: #101010;
  border: 2px solid #e5e4eb;
  /* rubber-button */
  box-shadow: 6px 6px 16px #9fa6b3, -6px -6px 16px #e8ebf3;
  transform: translateX(-16px);
}

.blackKeyRight {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 100%;

  background: #101010;
  border: 2px solid #e5e4eb;
  /* rubber-button */
  box-shadow: 6px 6px 16px #9fa6b3, -6px -6px 16px #e8ebf3;
  transform: translateX(16px);
}

.whiteKeyBlock {
  position: relative;
  width: 64px;
  height: 132px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #d1d7e0;
  border-radius: 4px;
}

.whiteKey {
  position: relative;
  width: 42px;
  height: 110px;
  background: #d8dbe3;
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-sizing: border-box;

  /* rubber-button */
  box-shadow: 6px 6px 16px #9fa6b3, -6px -6px 16px #e8ebf3;
  border-radius: 50px;
}

#icon16px {
  width: 16px;
}

#icon24px {
  width: 24px;
}

#icon36px {
  width: 36px;
}

.rightSidePart {
  display: grid;
  grid-template-columns: 72px;
  grid-template-rows: 1fr;
  justify-content: center;
}

.microphoneVuOp1 {
  display: grid;
  grid-template-columns: 64px;
  grid-template-rows: 64px 64px 64px 64px 132px;
  grid-gap: 4px;
  justify-content: center;
  justify-items: center;
  align-items: center;
  /* text-align: center; */
}

.vuMeter {
  display: grid;
  grid-template-columns: 4px;
  grid-template-rows: repeat(5, 13px);
  grid-row: 3;
}

.oval4px {
  width: 4px;
  height: 4px;

  background: #42434e;
  border-radius: 100%;
}
