/* Everything on the site. */
.container {
  padding: 0 2rem;
}

/* Container that the window site is shown in.
 * This should occupy the full page and lay out the site window.
*/
.siteWindowContainer {
  height: 100vh;
  padding: 10rem 0;
  margin: auto;
}

/* Window that the site is shown in.
 * this boxes in the internal site to a fixed size.
*/
.siteWindow {
  display: flex;
  max-width: 800px;
  margin: auto;
  flex-direction: row;
  justify-content: space-between;
  padding: 2rem;
  background-color: var(--white);
  /* aspect-ratio: 3 / 2; */
  border: 2px solid red;
}

/* Cute vercel thing, for now */
.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid var(--white);
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (prefers-color-scheme: dark) {
  .footer {
    border-color: #222;
  }
  .logo img {
    filter: invert(1);
  }
}
