.linkMenu {
  display: flex;
  flex-direction: column;
}

.linkMenu > a {
  display: block;
  padding-left: 0.25rem;
  line-height: 1.5;
  color: var(--blue);
  border-bottom: 1px solid var(--grey);
}

