/* Root of the visual content of the facebook app. */
.body {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 100%;
  height: 100%;
  overflow: scroll;
  padding: 0.5rem;
}

.cornerLogo {
  width: 200px;
  background-color: var(--grey);
  padding: 1rem;
  margin-right: -1rem;
  border-radius: var(--radius);
}

.topMenu {
  width: 100%;
  display: flex;
  flex-direction: row;
  color: var(--white);
  background-color: var(--blue);
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  border-top-left-radius: var(--radius);
  border-top-right-radius: var(--radius);
}

.fblogo {
  width: 50%;
  display: block;
}

/* Menu on the top bar */
.menuLinks {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.menuLinks > a {
  display: block;
  margin-left: 1rem;
  padding: 0.125rem 0.25rem;
  color: var(--menu-text);
}

.menuLinks > a:hover {
  color: var(--grey);
  background-color: blue;
}
