@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.body {
    font-family: 'Open Sans', sans-serif;
    background:
        radial-gradient(black 15%, transparent 16%) 0 0,
        radial-gradient(black 15%, transparent 16%) 8px 8px,
        radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
        radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;

    background-color: #262622;
    background-size: 8px 8px;

    border-radius: 16px;
    width: 400px;
    height: 750px;
    display: grid;
    grid-template-columns:
        [left-border] 40px
        [left-main] auto
        [right-main] 40px
        [right-border];
    grid-template-rows:
        [top] 130px
        [after-title] 10px
        [lcd-start] 150px
        [lcd-end] 20px
        [top-buttons-start] 50px
        [top-buttons-end] 20px
        [button-start] auto
        [button-end] 50px
        [bottom];
    font-size: 20px;
    box-shadow: inset 0 0 35px 5px rgba(0,0,0,0.25),
                inset 0 2px 1px 1px rgba(20,20,20,0.9),
                inset 0 -2px 1px 0 rgba(0,0,0,0.25);
}

.cutout {
    $cc: 30;
    grid-row: top;
    background-color: rgba($cc,$cc,$cc,0.5);
    height: 63px;
    width: 28px;
    border-radius: 16px;
    margin: auto;
    margin-bottom: 7px;
    box-shadow: inset 0 4px 5px black;
    color: grey;

    text-shadow:
        1px 2px 2px rgba(40, 40, 40, 0.5),
        1px 3px 3px rgba(40, 40, 40, 0.5),
        5px 13px 15px $cc;
}

.leftCutout {
    @extend .cutout;
    grid-column: left-border;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-left: 0;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    font-size: 14px;
    text-align: center;
    padding-right: 4px;
}

.rightCutout {
    @extend .cutout;
    grid-column: right-main;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    margin-right: 0;
}

.operatorText {
    grid-column: left-main;
    grid-row: top;
    color: white;
    margin-top: auto;
    margin-bottom: 5px;
    margin-left: 2px;

    text-shadow:
        1px 1px 0 gray,
        1px 0px 0 gray,
        5px 13px 15px black;
}

.buttonsTop {
    grid-column: left-main;
    grid-row: top-buttons-start;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.buttons {
    grid-column: left-main;
    grid-row: button-start;
    display: flex;
    flex-direction: column;
}

.buttonRow {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
}

.button {
    border-radius: 100%;
    width: 45px;
    height: 45px;
    background-color: black;
    border: 3px solid grey;
    color: white;
    text-align: center;
}

.bottomCutoutContainer {
    grid-row: button-end;
    grid-column: left-main;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
}

.bottomCutout {
    width: 35px;
    height: 18px;
    border-radius: 20px;
    background-color: black;
    margin: auto;
    padding: auto;
    margin-top: 6px;
    box-shadow: 0 0 35px 5px rgba(0,0,0,0.25),
                0 2px 1px 1px rgba(20,20,20,0.9),
                0 -2px 1px 0 rgba(0,0,0,0.25);
}

