@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.body {
    font-family: 'Open Sans', sans-serif;
    background-color: #232b2b;
    border-color: grey;
    border-radius: 30px;
    width: 400px;
    height: 800px;
    display: grid;
    grid-template-columns:
        [left-border] 50px
        [left-main] 300px
        [right-main] 50px
        [right-border];
    grid-template-rows:
        [top] 120px
        [lcd-start] 120px
        [lcd-end] 50px
        [top-buttons-start] 50px
        [top-buttons-end] 50px
        [button-start] auto
        [button-end] 50px
        [bottom];
    font-size: 20px;
}

.cutout {
    grid-row: top;
    background-color: red;
    height: 50px;
    width: 28px;
    border-radius: 10px;
    margin: auto;
    margin-bottom: 10px;
}

.leftCutout {
    @extend .cutout;
    grid-column: left-border;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-left: 0;
}

.rightCutout {
    @extend .cutout;
    grid-column: right-main;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    margin-right: 0;
}

.operatorText {
    grid-column: left-main;
    grid-row: top;
    color: white;
    margin-top: auto;
    margin-bottom: 8px;
    margin-left: 2px;

 text-shadow:
     1px 1px 0 grey,
     1px 2px 2px grey,
     1px 3px 3px grey,
     5px 13px 15px black;
}

.lcd {
    grid-column: left-main;
    grid-row: lcd-start;
    background-color: beige;
    border: 2px solid black;
    border-top: 4px solid black;
    border-bottom: 4px solid black;

    display: grid;
    grid-template-rows:
        [lcd-top] 28px
        [lcd-main] auto
        [lcd-bottom] 18px;
    grid-template-columns:
        [lcd-left] 80px
        [lcd-main] auto
        [lcd-right] 65px [lcd-right-border];
}

.beatsContainer {
    grid-row: lcd-bottom;
    grid-column:  lcd-left / lcd-right-border;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    margin: auto;
    padding: 0 4px;
    margin-bottom: 4px;
}

.beat {
    height: 3px;
    width: 100%;
    border-bottom: 5px solid black;
    margin: 3px;
    margin-top: auto;
    margin-bottom: 0;
}

.timeBox {
    grid-row: lcd-top;
    grid-column: lcd-right;
    display: flex;
    flex-direction: row;
    align-items: bottom;
    justify-content: space-between;
}

.amPM {
    background-color: grey;
    padding: 1px 4px;
    height: 20px;
    font-size: 10px;
    margin-top: auto;
    margin-bottom: 2px;
    margin-right: 2px;
}

.buttonsTop {
    grid-column: left-main;
    grid-row: top-buttons-start;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: blue;
}

.buttons {
    grid-column: left-main;
    grid-row: button-start;
    display: flex;
    border: 1px solid red;
    flex-direction: column;
}

.buttonRow {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
}

.button {
    border-radius: 100%;
    width: 40px;
    height: 40px;
    background-color: black;
    border: 3px solid grey;
    color: white;
    text-align: center;
}
