.menu {
    background: rgb(0, 0, 204);
    padding: 1rem;
    color: rgb(255, 255, 255);
    font-family: "VCR OSD Mono", "Lucida Console", monospace;
    font-size: 1rem;

    position: relative;
    width: 100%;
    height: 100%;

}

.menu ul {
  padding-left: 1.5rem;
  list-style-type: "▶ ";
}

.background {
    pointer-events: none;
    position: absolute;
    top: 0px;
    left: 0px;
    margin: 0px;
    width: 100%;
    height: 100%;
    mix-blend-mode: soft-light;
    image-rendering: pixelated;
}

.title {
    padding: 1.5rem;
    text-align: center;
}

.menuBorder {
    border: 2px ridge rgb(255, 255, 255) ;
    display: flex;
    flex-wrap: wrap;
    padding: 2px;
}

.menuBody {
    border: 2px double rgb(255, 255, 255);
    width: 50%;
    padding: 1.5rem;
    color: rgb(245, 245, 71);
    line-height: 2.5;
}

.menuFooter1 {
    border: 2px double rgb(255, 255, 255);
    width: 100%;
    padding: 1.5rem;
    display: flex;
}

.menuFooter2 {
    border: 2px double rgb(255, 255, 255);
    width: 100%;
    padding: 1.5rem;
    color: rgb(245, 245, 71);
    text-align: center;
}
