/* Facebook app content that changes between pages. */
.main {
  display: flex;
  flex-direction: column;
}

.profileBody {
  display: flex;
  flex-direction: row;
}

.profileBodySide {
  width: 25%;
  padding: 1rem;
}

.profileBodyMain {
  width: 75%;
}

.detailContents {
  background-color: var(--white);
  font-weight: normal;
}

.interestTable > tr > td:first-of-type {
  width: 25%;
  color: var(--grey);
}

.interestTable > tr > td:last-of-type {
  color: var(--black);
}

/* Accordion throughout the site. */
.accordionWrapper {
  display: block;
  width: 100%;
  padding: 0.5rem 0;
}

.accordion {
  font-weight: bold;
  border-top: 1px solid var(--blue);
  color: var(--blue);
}

.accordion > summary {
  justify-content: space-between;
  padding: 0.25rem 1rem;
  font-weight: bold;
  background-color: var(--accordion-title-background)
}


