/* Root of the visual content of the facebook app. */
.body {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 100%;
  height: 100%;
  overflow: scroll;
  padding: 0.5rem;
}

/* Menu on the top bar */
.topMenu {
  width: 100%;
  display: flex;
  flex-direction: row;
  color: var(--white);
  background-color: var(--blue);
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  border-top-left-radius: var(--radius);
  border-top-right-radius: var(--radius);
}

.fblogo {
  width: 50%;
  display: block;
}

.menuLinks {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.menuLinks > a {
  display: block;
  margin-left: 1rem;
  padding: 0.125rem 0.25rem;
  color: var(--menu-text);
}

.menuLinks > a:hover {
  color: var(--grey);
  background-color: blue;
}

/* Thing in the middle? */
.horizontalPane {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  margin-left: -1px;
  margin-right: -1px;
  border-left: 1px solid var(--grey);
  border-right: 1px solid var(--grey);
}

.cornerLogo {
  width: 200px;
  background-color: var(--grey);
  padding: 1rem;
  margin-right: -1rem;
  border-radius: var(--radius);
}

.sidebar {
  width: 200px;
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
  padding-right: 0.75rem;
}

/* Facebook app content that changes between pages. */
.main {
  display: flex;
  flex-direction: column;
}

.profileHeader {
  font-weight: bold;
  font-size: 14px;
  line-height: 23px;

  padding: 0.25rem 0.5rem;
  background-color: var(--subbanner-background);
  color: var(--white);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.profileBody {
  display: flex;
  flex-direction: row;
}

.profileBodySide {
  width: 25%;
  padding: 1rem;
}

.profileBodyMain {
  width: 75%;
}

.detailContents {
  background-color: var(--white);
  font-weight: normal;
}

.interestTable > tr > td:first-of-type {
  width: 25%;
  color: var(--grey);
}

.interestTable > tr > td:last-of-type {
  color: var(--black);
}

/* Accordion throughout the site. */
.accordionWrapper {
  display: block;
  width: 100%;
  padding: 0.5rem 0;
}

.accordion {
  font-weight: bold;
  border-top: 1px solid var(--blue);
  color: var(--blue);
}

.accordion > summary {
  justify-content: space-between;
  padding: 0.25rem 1rem;
  font-weight: bold;
  background-color: var(--accordion-title-background)
}


.linkMenu {
  display: flex;
  flex-direction: column;
}

.linkMenu > a {
  display: block;
  padding-left: 0.25rem;
  line-height: 1.5;
  color: var(--blue);
  border-bottom: 1px solid var(--grey);
}
