/* Everything on the site. */
.container {
  padding: 0 2rem;
}

/* Container that the window site is shown in.
 * This should occupy the full page and lay out the site window.
*/
.siteWindowContainer {
  height: 100vh;
  padding: 10rem;
}

/* Window that the site is shown in.
 * this boxes in the internal site to a fixed size.
*/
.siteWindow {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow: scroll;
  aspect-ratio: 3 / 2;
  border: 1px solid red;
}

/* Root of the visual content of the facebook app. */
.body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 10px;
  background-color: white;
  width: 100%;
  height: 100%;
}

.horizontalPane {
  display: flex;
  flex-direction: column;
  height: 100%;
  border-radius: 30px;
  width: 100%;
  padding: 1rem;
}

/* sidebar of the site; global options */
.sidebar {
  display: flex;
  flex-direction: column;
  width: 20%;
  padding: 1rem;
}

/* Facebook app content that changes between pages. */
.main {
  display: flex;
  flex-direction: column;
}

.profileHeader {
  background-color: var(--grey);
  color: var(--white);
}

.profileBody {
  display: flex;
  flex-direction: row;
}

.profileBodySide {
  width: 25%;
  padding: 1rem;
}

.profileSideLinks {
  display: flex;
  flex-direction: column;
}

.profileBodyMain {
  width: 75%;
}


/* Cute vercel thing, for now */
.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid var(--white);
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (prefers-color-scheme: dark) {
  .footer {
    border-color: #222;
  }
  .logo img {
    filter: invert(1);
  }
}

/* Menu on the top bar */
.menu {
  width: 100%;
  display: flex;
  flex-direction: row;
  color: var(--white);
  background-color: var(--blue);
  padding: 1rem;
  justify-content: space-between;
}

.fblogo {
  width: 50%;
}

.menuLinks {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

.detailContents {
  background-color: var(--white);
  font-weight: normal;
}

.detailContents > table > tr > td:first-of-type {
  width: 25%;
  color: var(--grey);
}


.detailContents > table > tr > td:last-of-type {
  color: var(--black);
}


.miniFeed {
}

.miniFeed > summary {
  justify-content: space-between;
}

.personalInfo {
}
